/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Calibri Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Calibri Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Calibri Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Calibri Bold.svg#391495a9e47adc514367932fe8abb907') format('svg'); /* Legacy iOS */
       
	font-style:   normal;
	font-weight:  700;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

	background-attachment:fixed;
	font-family: 'Calibri';
	font-size: (37px / 2.5);
	line-height: (54px / 2.5);
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
	color: #373737;
	
	background: #f0f0f0;
}

[data-role="header"]{
	background: url('../img/bg-menu.png') no-repeat scroll top left;
	height: (130px / 2.5);
	background-size: (2250px / 2.5) (130px / 2.5);
	border: 0;
	color: white;
	font-size: (57px / 2.5);
	position: fixed;
	width: 100%;
	top: 0;
	.ui-title{
		padding: 14px;
		text-align: left;
	}
}
[data-role="footer"]{
	border: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	.ui-title{
		padding: 0;
		margin: 0;
		line-height: 0px;
	}
}

[data-role="page"]{
	.ui-content{
		background: url('../img/bg-page.png') no-repeat scroll top left;
		background-size: 101%;
		margin-top: (130px / 2.5);
		margin-bottom: (130px / 2.5);
		padding: 25px 0;
		text-align: center;
	}
	.center{
		text-align: center;
	}
	.bg-form{
		@include border-radius(4px, 4px);
		text-align: left;
		background: white;
		padding: 15px;
		color: #838383;
		margin: 0 20px;
		.ui-input-text{
			border: none;
		}
		input{
			border: none;
			background: #ebe9eb;
		}
	}
	.text-box{
		display: inline-block;
		text-align: justify;
		width: 80%;
	}
	.azul{
		background: #0062b5;
		color: white;
		padding: 0 5px;
	}
	.menu{
		line-height: 0px;
		font-size: 0px;
	}
	input{
		&.cpf{
			background: url('../img/icon-user-cpf.png') no-repeat #ebe9eb;
			background-size: (52px / 2.5) (60px / 2.5);
			background-position-x: 97%;
			background-position-y: center;
		}
		&.nasc{
			background: url('../img/icon-nasc.png') no-repeat #ebe9eb;
			background-size: (57px / 2.5) (44px / 2.5);
			background-position-x: 97%;
			background-position-y: center;
		}
		&.email{
			background: url('../img/icon-email.png') no-repeat #ebe9eb;
			background-size: (57px / 2.5) (44px / 2.5);
			background-position-x: 97%;
			background-position-y: center;
		}
		&.senha{
			background: url('../img/icon-pass.png') no-repeat #ebe9eb;
			background-size: (60px / 3) (71px / 3);
			background-position-x: 97%;
			background-position-y: center;
		}
		&.tel{
			background: url('../img/icon-tel.png') no-repeat #ebe9eb;
			background-size: (70px / 3) (84px / 3);
			background-position-x: 97%;
			background-position-y: center;
		}		
	}
	textarea {
    background: #ebe9eb;
  }
}

#index{
	.logo{
		margin: 20px 0;
	}
	.menu{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			font-size: 0px;
			text-align: left;
			margin: 0;
			padding: 0;
		}
	}
}
#cadastre{
	.ui-content{
		text-align: left;
	}
}
#login{
	.ui-content{
		text-align: left;
	}
	.pos-menu{
		margin-top: -20px;
	}
	.logo{
		margin-top: 20px;
	}
}

#meu-plano, #area-visitante{
  ul {
    margin: 30px 2.5%;
    width: 95%;
    li {
      
      border-bottom: 1px solid #a2c6e4;
      img {
        width: 100%;
        }
    }
  }
}


#educacao-previdenciaria {
  .ui-content {
    margin-top: 27px;
  }
  .ui-btn-icon-right:after {
    background-color: transparent;
  }
  
	ul.bullets{
	  background: url('../img/bg-bullets.png') no-repeat;
		background-size: 750px 110px;
	  li {
	    display: inline-block;
	    padding: 10px 5px;
	    a{
	      width:(48px/2.5);
	      height:(48px/2.5);
	      background: url('../img/bullets.png') no-repeat;
	      background-size: 2*(47px/2.5) (46px/2.5);
	      display: block;
	      text-indent: -9999px;
	      &.active {
	        background-position-x: right;
        }
      }
    }
  }
  
  [data-role="listview"] {
    margin: 0;
    width: 100%;
    li {
      a {
        color: #274b6e;
        background: #cdd8df;
        border: none;
        padding: 0;
        white-space: normal;
        span {
          padding: 7px 35px 0 0 ;
          display: block;
          font-size: (37px / 2.5);
          &.icon {
            float: left;
            width: (80px/2.5);
            height: (100px/2.5);
    	      background: url('../img/icon-pig.png') no-repeat;
    	      background-size: (80px/2.5);
    	      background-position: center;
            padding: 15px;
            margin-right: 15px;
            border-right: 1px solid #fff;
          }
        }
        

        

      }
      &:nth-child(even) {
        a {
          color: #fff;
          background: #396b97;
          span {
            &.icon {
              background: url('../img/icon-case.png') no-repeat;
              background-size: (80px/2.5);
              background-position: center;
            }
          }
        }
      }
    }
  }
}

#simulador{
  .ui-select .ui-btn {
    border: none;
  }
}

#contato {
  .text-box {
    text-align: left;
    margin-top: 3px;
    color: #838383;
  }
}
