<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>OAB PREV</title>
	
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta charset="utf-8">

	<link rel="stylesheet" href="css/jquery-mobile.css">
	<link rel="stylesheet" href="css/angular-ui.min.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="cordova.js"></script>
	
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ui-utils.min.js"></script>
	<script type="text/javascript" src="js/jQuery1.10.2.js"></script>
	<script type="text/javascript" src="js/jQueryMobile1.4.1.js"></script>

	<script type="text/javascript" src="js/index.js"></script>
	
</head>

<body ng-controller="AppController">

	<div data-role="page" data-theme="me" id="index">

		<div data-role="header">
			<h1>DEFENDA SEU FUTURO.</h1>
		</div>

		<div role="main" class="ui-content">
			<div class="logo">
				<img src="img/logo-home.png" width="65%" alt="Logo Home">				
			</div>
			<ul class="menu">
				<li><a href="#login"><img src="img/bt-sou-participante.png" width="95%" alt="Bt Quero Conhecer"></a></li>
				<li><a href="#interna"><img src="img/bt-quero-conhecer.png" width="95%" alt="Bt Quero Conhecer"></a></li>
			</ul>
			<img src="img/txt-home.png" width="80%" alt="Txt Home">
		</div>

		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>

	</div>
	
	<div data-role="page" data-theme="me" id="login">

		<div data-role="header">
			<h1>ENTRAR NO SISTEMA</h1>
		</div>

		<div role="main" class="ui-content">
			<form ng-submit="login()">
				<div class="bg-form">
					<label>Informe seus dados</label>
					<input class="cpf" pattern="[0-9]*" ui-mask="999.999.999-99" ng-model="cpf" name="CPF:" value="">
					<input class="senha" ng-model="password" placeholder="SENHA:" value="" type="password">
				</div>
				<div class="menu">
					<a href="javascript:void(0)" ng-click="login()">
						<img src="img/bt-entrar.png" alt="Bt Entrar" width="94%">
					</a>
					<a href="#cadastre">
						<img src="img/bt-primeiro-acesso.png" alt="Bt Primeiro Acesso" width="94%">
					</a>
				</div>
				<div class="pos-menu center">
					<a href="#esqueceu">
						<img src="img/bt-esqueceu-senha.png" alt="Bt Esqueceu Senha" width="60%">
					</a>
				</div>
				<div class="logo center">
					<img src="img/logo-mini.png" alt="Logo Mini" width="30%">
				</div>
				<input type="submit">
			</form>
		</div>

		<div data-role="footer" ng-click="me()">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>

	</div>
	
	<div data-role="page" data-theme="me" id="cadastre">

		<div data-role="header">
			<h1>CADASTRE SUA SENHA</h1>
		</div>

		<div role="main" class="ui-content">
			<div class="bg-form">
				<label>Informe seus dados</label>
				<input class="cpf" name="cpf" placeholder="CPF:" value="">
				<input class="nasc" name="nascimento" placeholder="DATA DE NASCIMENTO:" value="">
				<input class="email" name="email" placeholder="EMAIL:" value="">
			</div>
			<div class="menu">
				<a href="#login">
					<img src="img/bt-enviar.png" alt="Bt Enviar" width="94%">
				</a>
			</div>
			<div class="center">
				<div class="text-box">
					ATENÇÃO , após enviar os dados, você receberá um <span class="azul">email com a senha</span> de acesso para o App OABPrev
				</div>
			</div>
		</div>

		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>

	</div>
	
	<div data-role="page" data-theme="me" id="meu-plano">

		<div data-role="header">
			<h1>Meu Plano</h1>
		</div>

		<div role="main" class="ui-content">
			<div class="logo">
				<img src="img/logo-home.png" width="65%" alt="Logo Home">				
			</div>
			<ul class="menu">
				<li><a href="#index">
					<img src="img/bt-extrato.png" alt="Extrato" >
				</a></li>
				<li><a href="#index">
					<img src="img/bt-saldo.png" alt="Saldo" >
				</a></li>
				<li><a href="#index">
					<img src="img/bt-segunda-via.png" alt="Segunda Via" >
				</a></li>
				<li><a href="#simulador">
					<img src="img/bt-simulador.png" alt="Simulador" >
				</a></li>
				<li><a href="#index">
					<img src="img/bt-beneficios-diferenciais.png" alt="Benefícios e Diferenciais" >
				</a></li>
				<li><a href="#contato">
					<img src="img/bt-fale-com-a-oabprev.png" alt="Fale com a OABPrev" >
				</a></li>
			</ul>
		</div>
		
		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>
	</div>
	
	<div data-role="page" data-theme="me" id="area-visitante">

		<div data-role="header">
			<h1>Defenda seu Futuro</h1>
		</div>

		<div role="main" class="ui-content">
			<div class="logo">
				<img src="img/logo-home.png" width="65%" alt="Logo Home">				
			</div>
			<ul class="menu">
				<li><a href="#educacao-previdenciaria">
					<img src="img/bt-educacao-previdenciaria.png" alt="Educação Previdenciaria" >
				</a></li>
				<li><a href="#videos">
					<img src="img/bt-canal-oabprev.png" alt="Canal OABPrev" >
				</a></li>
				<li><a href="#quero-conhecer">
					<img src="img/bt-desejo-participar.png" alt="Desejo Participar" >
				</a></li>
				<li><a href="#simulador">
					<img src="img/bt-simulador.png" alt="Simulador" >
				</a></li>
				<li><a href="#index">
					<img src="img/bt-beneficios-diferenciais.png" alt="Benefícios e Diferenciais" >
				</a></li>
				<li><a href="#contato">
					<img src="img/bt-fale-com-a-oabprev.png" alt="Fale com a OABPrev" >
				</a></li>
			</ul>
		</div>
		
		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>
	</div>
	
	<div data-role="page" data-theme="me" id="educacao-previdenciaria">

		<div data-role="header">
			<h1>Educação Previdenciária</h1>
		</div>

		<div role="main" class="ui-content">
				<ul class="bullets">
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="" class="active">3</a></li>
					<li><a href="">4</a></li>
				</ul>
				
			<ul data-role="listview" class="">
				<li><a href="#index">
					<span class="icon"></span> 
					<span>Como o fundo de previdencia
					pode garantir o futuro de sua
					família.<span>
				</a></li>
				
				<li><a href="#meu-plano">
					<span class="icon"></span> 
					<span>fundo previdencia<span>
				</a></li>
				
				<li><a href="#videos">
					<span class="icon"></span> 
					<span>fundo previdencia<span>
				</a></li>
				
				<li><a href="#area-visitante">
					<span class="icon"></span> 
					<span>fundo previdencia<span>
				</a></li>				
				
				<li><a href="#area-visitante">
					<span class="icon"></span> 
					<span>fundo previdencia<span>
				</a></li>
			</ul>
		</div>

		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>

	</div>
	
	<div data-role="page" data-theme="me" id="quero-conhecer">

		<div data-role="header">
			<h1>Quero Conhecer</h1>
		</div>
		<div role="main" class="ui-content">
			<div class="bg-form">
				<label>Informe seus dados</label>
				<input class="cpf" name="nome" placeholder="NOME:" value="">
				<input class="tel" name="telefone" placeholder="TELEFONE:" value="">
				<input class="email" name="email" placeholder="EMAIL:" value="">
			</div>
			<div class="menu">
				<a href="#interna">
					<img src="img/bt-solicitar-contato.png" alt="Bt Enviar" width="93%">
				</a>
			</div>
			<div class="center">
				<div class="text-box">
					A OABPrev é uma das únicas previdências
					no Brasil a conquistar o ISO 9001:2004, 
					porque tem a qualidade como lei.
				</div>
			</div>
		</div>

		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>

	</div>	
	
	<div data-role="page" data-theme="me" id="simulador">

		<div data-role="header">
			<h1>Simulador</h1>
		</div>

		<div role="main" class="ui-content">
			<div class="bg-form">
				<label>Contribuição Mensal</label>
				<input class="quantia" name="quantia" placeholder="Quantia" value="">
			
				<select>
					<option>Período selecionado: 15 anos</option>
				</select>
				<input class="" name="nome" placeholder="Informe seu nome:" value="">
				<input class="" name="telefone" placeholder="Informe seu telefone:" value="">
			</div>
			
			<div class="menu">
				<a href="#interna">
					<img src="img/bt-resultado.png" alt="Bt Enviar" width="93%">
				</a>
			</div>
			
			
				<div class="logo center">
					<img src="img/logo-mini.png" alt="Logo Mini" width="30%">
				</div>
				
		</div>

		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>
	</div>
	
	<div data-role="page" data-theme="me" id="contato">

		<div data-role="header">
			<h1>Fale com a OABPrev</h1>
		</div>

		<div role="main" class="ui-content">

			
			<div class="bg-form">
				<label>Preencha os dados abaixo</label>
				<input class="cpf" name="nome" placeholder="NOME:" value="">
				<input class="tel" name="telefone" placeholder="TELEFONE:" value="">
				<input class="email" name="email" placeholder="EMAIL:" value="">
				
				<textarea class="email" name="mensagem" placeholder="MENSAGEM:" ></textarea>
			</div>
			<div class="menu">
				<a href="#interna">
					<img src="img/bt-contato.png" alt="Bt Enviar" width="40%">
				</a>
			</div>
			


			<div class="text-box">
			Av. Getúlio Vargas, 1701 - Conj 1777 <br>
			Funcionários - Cep. 30.130-130 <br>
			Belo Horizonte - MG <br>
			55 31 3030 2525
			</div>
		</div>

		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>
	</div>	
	
	<div data-role="page" data-theme="me" id="interna">

		<div data-role="header">
			<h1>Pagina de Teste.</h1>
		</div>

		<div role="main" class="ui-content">
			<div class="logo">
				<img src="img/logo-home.png" width="65%" alt="Logo Home">				
			</div>
			<ul class="">
				<li><a href="#index">voltar</a></li>
				<li><a href="#meu-plano">Meu Plano</a></li>
				<li><a href="#interna" onclick="window.open('https://www.youtube.com/channel/UCsSZpjR-w8H96jzv151ggmQ', '_system');">Videos</a></li>
				<li><a href="#area-visitante">Área do Visitante</a></li>
				<li><a href="#educacao-previdenciaria">Educação Previdenciária</a></li>
				<li><a href="#quero-conhecer">Quero Conhecer</a></li>
				<li><a href="#quero-conhecer">Simulador</a></li>
				<li><a href="#contato">Contato</a></li>
			</ul>
		</div>

		<div data-role="footer">
			<h4>
				<img src="img/bg-footer.png" alt="Bg Footer" width="100%">
			</h4>
		</div>

	</div>
	
</body>
</html>