/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Calibri Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri Bold.woff") format("woff"), url("../fonts/Calibri Bold.ttf") format("truetype"), url("../fonts/Calibri Bold.svg#391495a9e47adc514367932fe8abb907") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

/* line 21, ../sass/style.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

/* line 24, ../sass/style.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment: fixed;
  font-family: 'Calibri';
  font-size: 14.8px;
  line-height: 21.6px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: #373737;
  background: #f0f0f0; }

/* line 42, ../sass/style.scss */
[data-role="header"] {
  background: url("../img/bg-menu.png") no-repeat scroll top left;
  height: 52px;
  background-size: 900px 52px;
  border: 0;
  color: white;
  font-size: 22.8px;
  position: fixed;
  width: 100%;
  top: 0; }
  /* line 52, ../sass/style.scss */
  [data-role="header"] .ui-title {
    padding: 14px;
    text-align: left; }

/* line 57, ../sass/style.scss */
[data-role="footer"] {
  border: none;
  position: fixed;
  width: 100%;
  bottom: 0; }
  /* line 62, ../sass/style.scss */
  [data-role="footer"] .ui-title {
    padding: 0;
    margin: 0;
    line-height: 0px; }

/* line 70, ../sass/style.scss */
[data-role="page"] .ui-content {
  background: url("../img/bg-page.png") no-repeat scroll top left;
  background-size: 101%;
  margin-top: 52px;
  margin-bottom: 52px;
  padding: 25px 0;
  text-align: center; }
/* line 78, ../sass/style.scss */
[data-role="page"] .center {
  text-align: center; }
/* line 81, ../sass/style.scss */
[data-role="page"] .bg-form {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  text-align: left;
  background: white;
  padding: 15px;
  color: #838383;
  margin: 0 20px; }
  /* line 88, ../sass/style.scss */
  [data-role="page"] .bg-form .ui-input-text {
    border: none; }
  /* line 91, ../sass/style.scss */
  [data-role="page"] .bg-form input {
    border: none;
    background: #ebe9eb; }
/* line 96, ../sass/style.scss */
[data-role="page"] .text-box {
  display: inline-block;
  text-align: justify;
  width: 80%; }
/* line 101, ../sass/style.scss */
[data-role="page"] .azul {
  background: #0062b5;
  color: white;
  padding: 0 5px; }
/* line 106, ../sass/style.scss */
[data-role="page"] .menu {
  line-height: 0px;
  font-size: 0px; }
/* line 111, ../sass/style.scss */
[data-role="page"] input.cpf {
  background: url("../img/icon-user-cpf.png") no-repeat #ebe9eb;
  background-size: 20.8px 24px;
  background-position-x: 97%;
  background-position-y: center; }
/* line 117, ../sass/style.scss */
[data-role="page"] input.nasc {
  background: url("../img/icon-nasc.png") no-repeat #ebe9eb;
  background-size: 22.8px 17.6px;
  background-position-x: 97%;
  background-position-y: center; }
/* line 123, ../sass/style.scss */
[data-role="page"] input.email {
  background: url("../img/icon-email.png") no-repeat #ebe9eb;
  background-size: 22.8px 17.6px;
  background-position-x: 97%;
  background-position-y: center; }
/* line 129, ../sass/style.scss */
[data-role="page"] input.senha {
  background: url("../img/icon-pass.png") no-repeat #ebe9eb;
  background-size: 20px 23.66667px;
  background-position-x: 97%;
  background-position-y: center; }
/* line 135, ../sass/style.scss */
[data-role="page"] input.tel {
  background: url("../img/icon-tel.png") no-repeat #ebe9eb;
  background-size: 23.33333px 28px;
  background-position-x: 97%;
  background-position-y: center; }
/* line 142, ../sass/style.scss */
[data-role="page"] textarea {
  background: #ebe9eb; }

/* line 148, ../sass/style.scss */
#index .logo {
  margin: 20px 0; }
/* line 151, ../sass/style.scss */
#index .menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 155, ../sass/style.scss */
  #index .menu li {
    font-size: 0px;
    text-align: left;
    margin: 0;
    padding: 0; }

/* line 164, ../sass/style.scss */
#cadastre .ui-content {
  text-align: left; }

/* line 169, ../sass/style.scss */
#login .ui-content {
  text-align: left; }
/* line 172, ../sass/style.scss */
#login .pos-menu {
  margin-top: -20px; }
/* line 175, ../sass/style.scss */
#login .logo {
  margin-top: 20px; }

/* line 181, ../sass/style.scss */
#meu-plano ul, #area-visitante ul {
  margin: 30px 2.5%;
  width: 95%; }
  /* line 184, ../sass/style.scss */
  #meu-plano ul li, #area-visitante ul li {
    border-bottom: 1px solid #a2c6e4; }
    /* line 187, ../sass/style.scss */
    #meu-plano ul li img, #area-visitante ul li img {
      width: 100%; }

/* line 196, ../sass/style.scss */
#educacao-previdenciaria .ui-content {
  margin-top: 27px; }
/* line 199, ../sass/style.scss */
#educacao-previdenciaria .ui-btn-icon-right:after {
  background-color: transparent; }
/* line 203, ../sass/style.scss */
#educacao-previdenciaria ul.bullets {
  background: url("../img/bg-bullets.png") no-repeat;
  background-size: 750px 110px; }
  /* line 206, ../sass/style.scss */
  #educacao-previdenciaria ul.bullets li {
    display: inline-block;
    padding: 10px 5px; }
    /* line 209, ../sass/style.scss */
    #educacao-previdenciaria ul.bullets li a {
      width: 19.2px;
      height: 19.2px;
      background: url("../img/bullets.png") no-repeat;
      background-size: 37.6px 18.4px;
      display: block;
      text-indent: -9999px; }
      /* line 216, ../sass/style.scss */
      #educacao-previdenciaria ul.bullets li a.active {
        background-position-x: right; }
/* line 223, ../sass/style.scss */
#educacao-previdenciaria [data-role="listview"] {
  margin: 0;
  width: 100%; }
  /* line 227, ../sass/style.scss */
  #educacao-previdenciaria [data-role="listview"] li a {
    color: #274b6e;
    background: #cdd8df;
    border: none;
    padding: 0;
    white-space: normal; }
    /* line 233, ../sass/style.scss */
    #educacao-previdenciaria [data-role="listview"] li a span {
      padding: 7px 35px 0 0;
      display: block;
      font-size: 14.8px; }
      /* line 237, ../sass/style.scss */
      #educacao-previdenciaria [data-role="listview"] li a span.icon {
        float: left;
        width: 32px;
        height: 40px;
        background: url("../img/icon-pig.png") no-repeat;
        background-size: 32px;
        background-position: center;
        padding: 15px;
        margin-right: 15px;
        border-right: 1px solid #fff; }
  /* line 255, ../sass/style.scss */
  #educacao-previdenciaria [data-role="listview"] li:nth-child(even) a {
    color: #fff;
    background: #396b97; }
    /* line 259, ../sass/style.scss */
    #educacao-previdenciaria [data-role="listview"] li:nth-child(even) a span.icon {
      background: url("../img/icon-case.png") no-repeat;
      background-size: 32px;
      background-position: center; }

/* line 272, ../sass/style.scss */
#simulador .ui-select .ui-btn {
  border: none; }

/* line 278, ../sass/style.scss */
#contato .text-box {
  text-align: left;
  margin-top: 3px;
  color: #838383; }
